body {
    margin: 0px;
}

a {
    color: #586e75;
    text-decoration: none;
    font-family: "HiraginoSansGB-W3", Menlo, monospace;
}

html {
    background-color: #fdf6e3;
    font-family: "HiraginoSansGB-W3", Menlo, monospace;
    color: #586e75
}

h1 {
    font-family: "HiraginoSansGB-W3", Menlo, monospace;
    font-weight: 500;
}

h3 {
    font-family: "HiraginoSansGB-W3", Menlo, monospace;
    font-weight: 500;
}

.menu > a {
    margin-right: 1rem;
}

.card {
    border-style: solid;
    border-color: #586e75;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family: "HiraginoSansGB-W3", Menlo, monospace;
    padding-bottom: 1rem;
    padding-left: 1rem;
}

.card-summary {
    border-style: solid;
    border-color: #586e75;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family: "HiraginoSansGB-W3", Menlo, monospace;
    padding-bottom: 1rem;
    padding-left: 1rem;
}

.card-of-friend {
    font-family: "HiraginoSansGB-W3", Menlo, monospace;
    max-height: fit-content;
    max-width: fit-content;
    line-height: 0px;
}

#main {
    margin: 0 auto;
    max-width: 760px;
}

.date {
    font-size: 1rem;
}

.card-description {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.favicon-of-friend {
    height: 60px;
}

#container-of-cards {
    border-style: solid;
    border-color: #586e75;
    display: grid;
    grid-template-columns: repeat(auto-fill, 60px);
    grid-gap: 6px;
    margin-top: 2rem;

    justify-items: center;
    align-items: center;
    padding: 6px;

    justify-content: center;
}